<div class="navbar-fixed">
	<nav>
		<div class="nav-wrapper blue">
			<ul id="nav-mobile" class="left hide-on-med-and-down">
				<li><a href="/products">Замовлення</a></li>
				<li><a href="/products/create">Додати Замовлення</a></li>
				<li><a href="/products/statistics">Статистика</a></li>
				<li><a href="/products/store">Склад</a></li>
			</ul>
		</div>
	</nav>
</div>