<div class="container">
	<div class="row">
		<div class="col s5">
			<div class="card-panel teal">
				<span class="white-text">Загальна кількість замовлень:
					{{this.orderQuantity}}</span>
			</div>
		</div>
		<div class="col s5">
			<div class="card-panel teal"><span class="white-text">Загальний тоннаж:
					{{this.weight}}</span>
			</div>
		</div>
	</div>
</div>